@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "JetBrains Mono", monospace;
}
:root{
    --bgColor:#1c1c22;
    --secondBgColor:#323946;
    --txtColor:white;
    --defaultColor:#00ff99;
    --hoverColor:#00e187;
}
html{
    font-size: 62.5%;
}
p{
    font-weight: 400;
}
/* Header Section  */
header{
    display: flex;
    position: fixed;
    /* height: 5.3rem; */
    width: 100%;
    background-color: var(--bgColor);
    justify-content: space-between;
    align-items: center;
    padding:1.7rem 13%;
    z-index: 1000;
}
.logo{
    font-size: 3rem;
    color: var(--txtColor);
    font-weight: 500;
    cursor: pointer;
    opacity: 0;
    animation: enterLtR .35s linear 1 forwards;
    animation-delay: calc(0.3s * var(--i));
}

.logo::after{
    content: ".";
    color: var(--defaultColor);
    font-size: 3.5rem;
    font-weight: 700;
}

.menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.menu a{
    color: var(--txtColor);
    font-size:2rem;
    transition: all 0.37s linear;
    opacity: 0;
    animation: enterLtR .4s ease 1 forwards;
    animation-delay: calc(0.1s * var(--i));
}
.menu .menuActive{
    color:var(--defaultColor);
}
.menu a:hover{
    color: var(--defaultColor);
    cursor: pointer;
}

#menuIcon{
    font-size: 4rem;
    color: var(--txtColor);
    display: none;
    opacity: 0;
    animation: enterLtR .4s ease 1 forwards;
    animation-delay: calc(0.3s * var(--i));
}

/* Home Section  */
section{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 13rem 13% 2rem;
    background-color: var(--bgColor);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}
section.active{
    visibility: visible;
    opacity: 1;
    overflow: auto;
}
.home{
    
}
.homeContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home h1{
    color:var(--txtColor);
    font-size: clamp(3.5rem,5vw,5rem);
    font-weight: 500;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.home .homeTxt h1:nth-child(2){
    color: var(--defaultColor);
}
.homeTxt{
    width: 54rem;
}
.homeTxt p{
    margin: 2rem 0 4rem;
    color: var(--txtColor);
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: justify;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.home .homeTxtBtn{
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.home .homeTxtBtn a{
    margin-right: 2rem;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.homeTxt .cvBtn{
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 3rem;
    border: 0.2rem solid var(--defaultColor);
    box-shadow: 0 0 0.5rem var(--defaultColor);
    background-color: var(--defaultColor);
    border-radius: 4rem;
    color: var(--bgColor);
    transition:0.5s;
}
.homeTxt .socialBtn i{
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--defaultColor);
    border: 0.2rem solid var(--defaultColor);
    border-radius: 50%;
    transition: 0.5s;
}
.homeTxt .homeTxtBtn .socialBtn i:hover{
    box-shadow: 0 0 0.7rem var(--defaultColor);
    background-color: var(--defaultColor);
    color: var(--bgColor);
}

.homeTxt .cvBtn:hover{
    box-shadow: none;
    background-color: transparent;
    color: var(--defaultColor);
}

.home .homeImg{
    margin-left: 2.5rem;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: 0.3s;
}
.home .homeImg .imgBox{
    height: 31vw;
    width: 31vw;
    border-radius: 50%;
    padding: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.home .homeImg .imgBox .imgContainer{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--bgColor);
    position: relative;
    display: flex;
    justify-content: center;
    border: 0.2rem solid var(--bgColor);
    z-index: 1;
    overflow: hidden;
}
.home .homeImg .imgBox .imgContainer img{
    position: absolute;
    top: 2rem;
    display: block;
    width: 77%;
    mix-blend-mode:lighten;
}
.home .homeImg .imgBox::after{
    content: "";
    width: 31vw;
    height: 31vw;
    position:absolute;
    top:0;
    left:0;
    border-radius: 50%;
    background: conic-gradient(transparent, transparent, transparent, var(--defaultColor));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.home .homeImg .imgBox::before{
    content: "";
    width: 31vw;
    height: 31vw;
    position:absolute;
    top:0;
    left:0;
    border-radius: 50%;
    background: conic-gradient(transparent, transparent, transparent, var(--defaultColor));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
    animation-delay: -5s;
}
@keyframes rotate-border{
    100%{
        transform:rotate(360deg);
    }
}

/* Services Section  */
.services{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.services .servicesItem{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: var(--txtColor);
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.services h1{
    font-size: 4rem;
    color: var(--txtColor); 
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}

/* Resume Section  */
.resume{
    display: flex;
    justify-content: space-between;
    color: var(--txtColor);
}
.resumeBtnBox{
    width: 31%;
}
.resumeBtnBox h2{
    font-size: 3.2rem;
    font-weight: 600;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
/* .resumeBtnBox p{
    font-size: 1.4rem;
    opacity: 0.9;
    line-height: 2.6rem;
    margin-top: 1.5rem;
} */
.resumeBtnBox .resumeBtn{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.resumeBtnBox .resumeBtn button{
    height: 4rem;
    margin: 1rem 2rem 1rem 0;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    color: var(--txtColor);
    background-color: var(--secondBgColor);
    transition:0.2s;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.resumeBtnBox .resumeBtn button:hover{
    transform: scale(1.01);
    box-shadow: 0 0 0.3rem var(--defaultColor);
    cursor: pointer;
}
.resumeBtnBox .resumeBtn .resumeActive{
    background-color: var(--defaultColor);
    color: var(--bgColor);
}
.resumeContentBox{
    display: none;
    width: 60%;
}
.resumeContentBox.resumeActive{
    display: block;
}
.resumeContentBox h2{
    font-size: 2.7rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.resumeContentBox .resumeContentBoxTxt{
    font-size: 1.45rem;
    line-height: 2.4rem;
    margin-bottom: 1.7rem;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}

.resumeContentBox .resumeContent{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem, 1fr));
    height: 33rem;
    gap: 1.5rem;
    overflow: auto;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.resumeContent .resumeContentDetails{
    background-color: var(--secondBgColor);
    height: calc((33rem - 1.5rem) / 2);
    border-radius: 0.8rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}


.resumeContent .resumeContentDetails .year{
    font-size: 1.3rem;
    color: var(--defaultColor);
    margin-bottom: 0.3rem;
}
.resumeContent .resumeContentDetails h3{
    font-size: 1.7rem;
    margin-bottom: 0.2rem;
}
.resumeContent .resumeContentDetails .company{
    position: relative;
    font-size: 1.45rem;
    font-weight: 400;
    margin-bottom: .8rem;
    margin-left: 1.2rem;
}
.resumeContent .resumeContentDetails .company::before{
    content: " ";
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    padding: 0.3rem;
    border-radius: 50%;
    background-color: var(--defaultColor);
    margin-left: -1.2rem;
}
.resumeContent .resumeContentDetails .contentDetailsTxt{
    font-size: 1.25rem;
    font-weight: 200;
    text-align:justify;
}

.resumeContent::-webkit-scrollbar{
    width: 0.4rem;
}
.resumeContent::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 1rem;
}
.resumeContent:hover::-webkit-scrollbar-thumb{
    background-color: var(--defaultColor);

}
.resume .resumeContentBoxSkills .resumeContent{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(14rem, 1fr));
    overflow: visible;
    height: auto;
}
.resume .resumeContentBoxSkills .resumeContent .skillsBox{
    background-color: var(--secondBgColor);
    position: relative;
    height: calc((35rem - 3rem) / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.resume .resumeContentBoxSkills .resumeContent .skillsBox i{
    font-size: 7rem;
}
.resume .resumeContentBoxSkills .resumeContent .skillsBox span{
    position: absolute;
    top:-20%;
    z-index: 1;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    background-color:white;
    color: var(--bgColor);
    pointer-events: none;
    opacity: 0;
    transform: scale(0.8);
    transition: 0.5s;
}
.resume .resumeContentBoxSkills .resumeContent .skillsBox:hover > i{
    color: var(--defaultColor);
} 
.resume .resumeContentBoxSkills .resumeContent .skillsBox:hover span{
    opacity: 1;
    transform: scale(1);
}


.resumeContentBoxAbout .resumeContent{
    height: auto;
}
.resumeContentBoxAbout .resumeContent .aboutDetails{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    height: calc((35rem - 3rem) / 7);
    color: var(--defaultColor);
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.resumeContentBoxAbout .resumeContent .aboutDetails span{
    color: var(--txtColor);
}

/* Work Section  */
.work .workH1{
    color: var(--txtColor);
    font-size: 4rem;
    text-align: center;
    padding-bottom: 4rem;
    margin-top: -2rem;
    display: none;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.work .workContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--txtColor);
}
.work .workContainer .workTxtBox{
    display: none;
}
.work .workContainer .workTxtBox.workActive{
    display: block;
    width: 45%;
}
.work .workContainer .workTxtBox h1{
    font-size: 7rem;
    color: var(--bgColor);
    -webkit-text-stroke: 0.07rem var(--txtColor);
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.work .workContainer .workTxtBox h3{
    font-size: 3.2rem;
    margin: 1rem 0;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.work .workContainer .workTxtBox .workDetails{
    font-size: 1.5rem;
    line-height: 2.7rem;
    margin: 0.7rem 0 2rem 0;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.work .workContainer .workTxtBox .tech{
    font-size: 1.6rem;
    color: var(--defaultColor);
    padding-bottom: 1.6rem;
    border-bottom: 0.2rem solid var(--txtColor);
    margin-bottom: 2rem;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.work .workContainer .workTxtBox .link a{
    font-size: 3rem;
    font-weight: 300;
    position: relative;
    display: inline-flex;
    padding: 0.9rem;
    color: var(--txtColor);
    background-color: var(--secondBgColor);
    border-radius: 50%;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.work .workContainer .workTxtBox .link a:first-child{
    margin-right: 1.3rem;
}
.work .workContainer .workTxtBox .link a:first-child i{
    transform: rotate(135deg);
    transition: 0.4s;
}
.work .workContainer .workTxtBox .link a span{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%) scale(0.8);
    border-radius: 0.7rem;
    font-size: 1.4rem;
    padding:0.3rem 0.8rem;
    white-space: nowrap;
    pointer-events: none;
    background-color: white;
    color: var(--bgColor);
    opacity: 0;
    transition: 0.3s;
}
.work .workContainer .workTxtBox .link a:hover > span{
    opacity: 1;
    top: -55%;
    transform:translate(-50%) scale(0.9);
}
.work .workContainer .workTxtBox .link a:hover{
    color: var(--defaultColor);
}
.work .workContainer .workTxtBox .link a:first-child:hover > i{
    transform: rotate(180deg);
}
.work .workContainer .workImgBox{
    width: 50%;
}
.work .workContainer .workImgBox .workImgContainer{
    width: 100%;
    height: 40rem;
    border-radius: 1rem;
    overflow: hidden;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.workImgBox .workImgContainer .workImgSlider{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: 0.4s;
}
.workImgBox .workImgContainer .imgItem{
    height: inherit;
}
.work .workContainer .workImgBox .workImgContainer .imgItem img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.workImgSliderControl{
    text-align: right;
    margin-top: 1.5rem;
}
.workImgSliderControl button{
    font-size: 3rem;
    font-weight: 200;
    padding: .2rem .32rem;
    /* border: 0.2rem solid var(--defaultColor); */
    color: var(--bgColor);
    background-color: var(--defaultColor);
    border-radius: .8rem;
    transition: 0.3s;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.workImgSliderControl button:last-child{
    margin-left: 1.5rem;
}
.workImgSliderControl button:hover{
    cursor: pointer;
}
.workImgSliderControl button:active{
    background-color: transparent;
    color: var(--defaultColor);
}
.workImgSliderControl .disableBtn{
    background-color: var(--secondBgColor);
    color: var(--txtColor);
}

/* Contact Section  */
.contact{
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
}
.contactBox{
    width: 46%;
    height: fit-content;
    background-color: var(--secondBgColor);
    border-radius: .8rem;
    padding: 2rem;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.contactBox h1{
    font-size: 3rem;
    color: var(--defaultColor);
    margin-bottom: 2rem;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.contactBox p{
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: var(--txtColor);
    margin-bottom: 2rem;
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.contactBox .formField{
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.75rem));
    gap: 1.5rem;
}
.contactBox .formField .contactSubject, .formField textarea{
    grid-column: 1 / -1;
}
.contactBox .formField input, .contactBox .formField textarea{
    padding: 0.8rem;
    background-color: var(--bgColor);
    color:var(--txtColor);
    font-size: 1.3rem;
    border-radius: 0.2rem;
    border: 0.15rem solid var(--bgColor);
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.contactBox .formField textarea{
    height: 13rem;
    margin-bottom: 1.5rem;
    resize: none;
}
.contactBox .formField input:focus, .contactBox .formField textarea:focus{
    border-color: var(--defaultColor);
}
.contact form button{
    padding: .9rem 2rem;
    border-radius: 2rem;
    background-color: var(--defaultColor);
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.contact form button:hover{
    cursor: pointer;
    background-color: var(--hoverColor);
}

.contactDetailsBox{
    width: 45%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactDetailsBox .contactDetails{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    color: var(--txtColor);
    opacity: 0;
    animation: enterTtB .4s ease 1 forwards;
    animation-delay: calc(0.2s * var(--i));
}
.contactDetails i{
    font-size: 2.5rem;
    padding: 0.9rem;
    background-color: var(--secondBgColor);
    color:var(--defaultColor);
    margin-right: 2rem;
}
.contactDetails .contactDetailsTxt p{
    font-size: 1.2rem;
    font-weight: 300;
}
.contactDetails .contactDetailsTxt h3{
    font-weight: 300;
    font-size: 1.6rem;
}

/* Responsive Section  */
@media screen and (min-width:1700px) {
    section{
        padding-left:16%;
        padding-right: 16%;
    }
    header{
        padding-left:16%;
        padding-right: 16%
    }
}
@media screen and (max-width:1390px) {
    html{
        font-size: 58%;
    }
}

@media screen and (max-width:1230px) {
    html{
        font-size: 55%;
    }
}

@media screen and (max-width:1180px) {
    section{
        padding-left:9%;
        padding-right: 9%;
    }
    header{
        padding-left:9%;
        padding-right: 9%
    }
}
@media screen and (max-width:1050px) {
    html{
        font-size: 53%;
    }
}
@media screen and (max-width:992px) {
    section{
        padding-left:7%;
        padding-right: 7%;
    }
    header{
        padding-left:7%;
        padding-right: 7%
    }
}
@media screen and (max-width:880px) {
    html{
        font-size: 52%;
    }
    .contactBox {
        width: 54%;
    }
    .contactDetailsBox{
        width: 42.1%;
    }
    .home .homeTxt{
        width: 53.8rem;
    }
    section{
        padding-left:4.8%;
        padding-right: 4.8%;
    }
    header{
        padding-left:4.8%;
        padding-right: 4.8%;
    }
}


@media screen and (max-width:768px) {

    /* Menu Icon  */
    #menuIcon{
        display: block;
    }
    /* .menuIconAnimate{
        animation: icon-animtion 0.5s linear 1;
    } */
    @keyframes icon-animtion {
        0%{
            scale: 0.5;
            opacity: 0.8;
        }
        100%{
            scale: 1;
            opacity: 1;
        }
    }
    .menu{
        position: absolute;
        top: 100%;
        right: 0;
        padding: 1rem 0;
        /* align-items: center; */
        width: 50%;
        height: 100vh;
        /* justify-content: start; */
        /* flex-direction: column; */
        background-color: var(--bgColor);
        border-top: 0.1rem solid rgba(0,0,0, .2);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0, .2);
        display: none;
    }
    .menu a{
        display: block;
        text-align: center;
        margin: 3.5rem 0;
    }
    .menuBarActive{
        display: block;
        animation:menuEnter 0.5s linear 1;
    }
    @keyframes menuEnter {
        0%{
            transform: translateX(50vw);
        }
        100%{
            transform: translateX(0);
        }
    }
    .menuOutAnimate{
        animation: menuOut 0.51s linear 1;
    }
    @keyframes menuOut {
        0%{
            transform: translateX(0vw);
        }
        100%{
            transform: translateX(50vw);
        }
    }
    section{
        padding-bottom: 5rem;
    }
    .homeContainer{
        flex-direction: column-reverse;
        height: fit-content;
    }
    .home .homeImg{
        margin-left: 0rem;
        margin: 0 0 7rem 0;
        opacity: 0;
        animation: enterTtB .4s ease 1 forwards;
        animation-delay: calc(0.2s * var(--i));
    }
    .home .homeContainer .homeImg .imgBox, .home .homeContainer .homeImg .imgBox::after, .home .homeContainer .homeImg .imgBox::before{
        width: 35rem;
        height: 35rem;
    }
    .home .homeTxt{
        width: 100%;
    }

    .resume, .contact{
        flex-direction: column;
        gap: 5rem;
    }
    .work .workContainer{
        flex-direction: column-reverse;
    }
    .work .workH1{
        display: block;
    }
    .resumeBtnBox .resumeBtn button{
        margin-right: 0rem;
    }
    .resume .resumeBtnBox, .resume .resumeContentBox, .work .workContainer .workTxtBox, .contact .contactDetailsBox, .contact .contactBox{
        width: 100%;
    }
    .work .workContainer .workTxtBox.workActive{
        width: 100%;
    }
    .work .workContainer .workImgBox{
        width: 100%;
    }
}

@media screen and (max-width:450px){
    .menu{
        width: 60%;
    }
    .home .homeTxtBtn{
        flex-direction: column;
        gap: 4rem;
    }
    .home .homeContainer .homeImg .imgBox, .home .homeContainer .homeImg .imgBox::after, .home .homeContainer .homeImg .imgBox::before{
        width: 29rem;
        height: 29rem;
    }

    .contactBox .formField{
        grid-template-columns: 1fr;
    }
}

/* Trying Animation */